@font-face {
    font-family: "Merriweather";
    src: url("../../fonts/merriweather/Merriweather-Regular.eot");
    src: url("../../fonts/merriweather/Merriweather-Regular.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/merriweather/Merriweather-Regular.woff2") format("woff2"),
        url("../../fonts/merriweather/Merriweather-Regular.woff") format("woff"),
        url("../../fonts/merriweather/Merriweather-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Merriweather";
    src: url("../../fonts/merriweather/Merriweather-Bold.eot");
    src: url("../../fonts/merriweather/Merriweather-Bold.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/merriweather/Merriweather-Bold.woff2") format("woff2"),
        url("../../fonts/merriweather/Merriweather-Bold.woff") format("woff"),
        url("../../fonts/merriweather/Merriweather-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}

.headline[class*="headline"] {
    color: #292b76;
    font-weight: 700;
    padding: 0 0 1px 0;
}
.headline--2[class*="headline"] {
    font-weight: 500;
    font-size: 34.5px;
    line-height: normal;
    padding: 0;
    margin: 0;
}
.headline--3[class*="headline"] {
    font-size: 18px;
    line-height: normal;
    padding: 21px 0 0 0;
    margin: 0;
}
.headline--4[class*="headline"] {
    font-size: 17px;
    font-weight: 700;
}
.text {
    line-height: 158%;
}
.bold {
    font-weight: 700;
}
.link[class="link"] {
    color: #292b76;
    transition: color 0.2s;
    &:hover {
        color: #8accca;
    }
}

.inner {
    color: #1d1d1b;
    font-family: "Merriweather", serif;
    font-size: 11.4px;
    margin: 0 auto;
    max-width: 850px;
    background-color: #fff;
    text-align: left;
}
.header {
    max-width: 800px;
    color: #292b76;
    display: flex;
    position: relative;

    &__logo.logo {
        margin-bottom: 30px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
}
.left {
    min-height: 290px;
    width: 52%;
    background-image: url("../../img/companies/vash-personal/header.jpg");
    background-size: cover;
    background-position: 0 0;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 48%;
    padding: 0 0 0 20px;
}
.logo {
    &__link {
        display: block;
        width: 90px;
        height: 40px;
    }
}
.intro {
    width: 100%;

    &__headline {
        color: #8accca;
        font-weight: 500;
        font-size: 18px;
        padding: 0 0 15px 0;
        letter-spacing: 0.8px;
    }

    &__text {
        font-size: 13.5px;
        line-height: 23px;
    }
}
.boxes {
    position: absolute;
    top: 128px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__box {
        width: 41px;
        height: 18px;
        background: #1c8985;
        margin-bottom: 29.5px;
    }
}
.content {
    max-width: 800px;
    padding: 45px 0 10px 50px;
    font-weight: 300;
}
.headline-block {
    text-align: left;
}
.flex-container {
    display: flex;
    justify-content: space-between;
}
.p-top {
    padding-top: 32px;
}
.flex-item {
    width: 48.7%;
}
.desc {
    display: block;
}
.list {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;

    &__item {
        line-height: 152%;
        padding: 0 0 3px 33px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            height: 2px;
            width: 12px;
            background-color: #8accca;
            top: 7px;
            left: 2.5px;
        }
    }
}
.awards {
    flex-shrink: 0;
    align-self: center;

    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.benefits {
    display: flex;
    margin-top: 10px;

    &__list {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
        width: 100%;
    }

    &__list-item {
        flex: 1 1 20%;
        text-align: center;
        padding: 5px 10px 5px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #1d1d1b;
        line-height: 152%;
        font-weight: 300;
    }
}
.footer {
    max-width: 800px;
    color: #292b76;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 24.5px;
    text-align: center;
}

@media (max-width: 719px) {
    .headline{
        color: #1d1d1b !important;
        margin-bottom: 10px;
    }
    .text{
        color: #1d1d1b !important;
    }
    .header {
        .logo {
            display: none;
        }
    }
    .left {
        display: none;
    }
    .right{
        flex: 0 0 100%;
    }
    .boxes {
        display: none;
    }
    .content{
        padding: 45px 0 10px 0;
    }
    .flex-container{
        flex-wrap: wrap;
    }
    .flex-item{
        flex: 0 0 100%;
        padding-top: 30px;
    }
    .list{
        list-style: disc;
        padding-left: 20px;

        &__item{
            list-style: disc;
            padding: 0 0 5px 0;

            &::before{
                display: none;
            }
        }
    }
    .awards{
        display: none;
    }
    .benefits {
        display: block;
    
        &__list {
            display: block;
            margin: 5px 0;
            padding-left: 20px;
            width: 100%;
            list-style: disc;
        }
    
        &__list-item {
            list-style: disc;
            padding: 0 0 5px 0;
            width: 100%;
            border-right: 0;
            text-align: left;
            display: block;
        }
    }
    .footer{
        padding: 25px 0;
    }
}
