/* =============html-svg изображения========= */
.claim-svg-fill-0 {
    fill: #8bc72b;
    fill-rule: nonzero;
}

.claim-svg-fill-1 {
    fill: white;
    fill-rule: nonzero;
}

/* Главная страница */
.index {
    position: relative;
    overflow: hidden;

    &__divider {
        margin: 0 auto;
        padding: 0 15px;
        width: 100%;
        max-width: 1248px;
    }
    &__divider-item {
        border-bottom: 1px solid #e3e6e9;
    }

    /* hero */
    &__hero {
        padding-top: 1.5rem;
        background: linear-gradient(-180deg, #e9f7de, #daefc0);
    }

    &__hero-wrap {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__claim {
        margin: 0 auto;
        padding: 0 2rem;
        max-width: 464px;
        height: 122px;
        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__subtitle {
        margin: 0 auto;
        padding: 1.5rem 0;
        text-align: center;
        max-width: 500px;
        font-weight: 500;
    }

    &__picture {
        order: 1;
        margin-left: -15px;
        margin-right: -15px;
        z-index: 0;
    }

    &__picture-element {
        display: block;
    }

    &__picture-img {
        display: block;
        width: 100%;
        height: 100%;
        min-height: 60vw;
        object-fit: contain;
    }

    &__hero-search {
        padding-bottom: 44px;
        position: relative;
    }

    @media (min-width: 1400px) {
        &__picture {
            right: -15rem;
        }
    }
    @media (min-width: 1170px) {
        &__picture-element {
            position: relative;
            bottom: 89px;
            max-width: unset;
        }
        &__picture {
            width: 634px;
            height: 125%;
            max-width: unset;
            overflow: hidden;
            position: absolute;
            z-index: 0;
            bottom: 16px;
        }
        &__hero-content{
            display: block;
        }
        &__picture-img {
            position: relative;
            top: 50px;
        }
    }
    @media (min-width: 720px) {
        &__hero {
            padding-bottom: 2rem;
        }
        &__claim {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 151px;
        }
        &__subtitle {
            margin: 0;
            font-size: 1.125rem;
            line-height: 1.4;
            text-align: left;
        }
        &__hero-content {
            padding-right: 2.25rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
        }
        &__hero-wrap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 1rem;
        }
        &__hero-search {
            background: #fff;
            border-radius: 3px;
            grid-column: 1 / span 2;
            padding: 32px;
        }
        &__picture {
            justify-self: end;
            margin-bottom: -4rem;
            margin-right: 1rem;
            max-width: 500px;
            order: 0;
        }
        &__picture-element {
            max-width: 450px;
        }
        &__picture-img{
            min-height: unset;
        }
    }

    /* job-fields-listing */
    &__job-fields-listing {
        padding-bottom: 2.75rem;
        padding-top: 2rem;
    }

    @media (min-width: 720px) {
        &__job-fields-listing {
            padding-top: 2.75rem;
        }
    }

    &__headline,
    &__headline.headline-m {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.1;
        margin-bottom: 1rem;
    }

    &__headline--no-spacing {
        margin-bottom: 0;
    }

    @media (min-width: 1248px) {
        &__support-box-illustration {
            width: 257px;
        }
    }
    @media (min-width: 720px) {
        &__headline--large {
            font-size: 2rem;
            line-height: 1.3;
        }
    }

    &__blog-subtitle {
        font-size: 1rem;
        line-height: 1.5;
    }

    &__news {
        padding: 2.75rem 0;
        overflow: hidden;
    }

    &__article-cards {
        margin-top: 1.5rem;
    }

    @media (min-width: 720px) {
        &__blog-subtitle {
            font-size: 1.125rem;
            line-height: 1.4;
        }
        &__news {
            padding: 4rem 0;
        }
        &__article-cards {
            margin-top: 2rem;
        }
    }

    &__interesting-companies {
        padding: 2.75rem 0;
    }

    &__companies-logos {
        margin-top: 1rem;
    }

    &__find-more-companies {
        margin-top: 1.5rem;
        display: inline-block;
    }

    @media (min-width: 1248px) {
        &__find-more-companies {
            margin-top: 2rem;
        }
    }
    @media (min-width: 720px) {
        &__interesting-companies {
            padding: 4rem 0;
            text-align: center;
        }
        &__companies-logos {
            margin-top: 2rem;
        }
        &__find-more-companies {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

/* "Поиск работы в проф.областях" */
.job-fields-listing {
    &__pretext {
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.1;
        margin-bottom: 1rem;
    }

    &__list {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(20, auto);
        align-items: center;

        &.__show-more {
            .job-fields-listing__list-item:nth-child(n + 6) {
                display: block;
            }
        }
    }

    &__list-item {
        margin-bottom: 0.5rem;
        width: 100%;
        align-self: center;
        min-width: 0;
        white-space: nowrap;

        &:nth-child(n + 6) {
            display: none;
        }
    }

    &__more-button.button {
        color: var(--action_color_2);
        display: block;
        margin-top: 1rem;
        width: 100%;
        border: 1px solid var(--action_color_2);
        background: transparent;
        outline: none;
    }

    @media (min-width: 1248px) {
        &__list {
            column-gap: 24px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, auto);
        }
    }
    @media (min-width: 720px) {
        &__pretext {
            font-size: 1.5rem;
        }
        &__list {
            column-gap: 2rem;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(10, auto);
            justify-items: center;
            width: 100%;
        }
        &__list-item {
            &:nth-child(n + 6) {
                display: block;
            }
        }
        &__more-button.button {
            display: none;
        }
    }
}
.job-fields-listing-item {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;

    &__label {
        cursor: pointer;
        font-weight: 400;
        font-size: 1rem;
        margin-right: 0.75rem;
        padding: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 1.5rem;

        &:hover {
            color: #377800;
            text-decoration: underline;
        }
    }
    &__label[data-title]{
        position: static;
    }

    &__badge {
        margin-top: 0.125rem;
    }
}

/* "Чем мы можем помочь вам сегодня?" */
.support-box {
    background-color: #f5f7f7;
    border-radius: 3px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;

    &__grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        padding: 1.5rem;
        width: 100%;
    }

    &__illustration {
        position: relative;
        display: none;
    }

    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        background: #fff;
        border: 1px solid #e3e6e9;
        border-radius: 3px;
        text-align: center;
        transition: all 0.2s ease;

        &:hover {
            box-shadow: 0 0 10px 0 rgb(20 37 66 / 20%);
        }
    }

    &__item-icon {
        flex-shrink: 0;
        height: 48px;
        width: 48px;
        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__item-text {
        font-weight: 400;
        font-size: 16px;
        word-break: break-word;
    }

    @media (min-width: 1248px) {
        &__grid {
            padding: 2.75rem 2rem 2.75rem 0.5rem;
        }
        &__illustration {
            width: 257px;
            margin-bottom: -2.75rem;
            margin-left: 2rem;
            margin-right: 3rem;
        }
    }
    @media (min-width: 720px) {
        &__grid {
            column-gap: 1.5rem;
            grid-template-columns: auto 1fr 1fr;
            padding: 1.5rem 1rem;
        }
        &__item {
            flex-direction: row;
            justify-content: flex-start;
            text-align: left;
        }
        &__item-icon {
            margin-right: 0.75rem;
        }
        &__illustration {
            display: block;
            grid-row: 1 / span 2;
            width: 206px;
            margin-bottom: -1rem;
        }
        &__illustration > div {
            position: absolute;
            width: 110%;
            bottom: -10px;
        }
    }
}

/* Proposals */
.proposals {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 0;
    margin-top: 2.75rem;
    margin-bottom: 3.5rem;

    &__list {
        display: inline-flex;
        flex-wrap: wrap;
        max-width: 100%;
        row-gap: 0.5rem;
        column-gap: 0.25rem;
    }

    @media (min-width: 1248px) {
        margin-top: 4rem;
    }
}
