<!DOCTYPE html>
<html lang="en">

<head>
    @@include('html-snippets/head.html')
    <title>Takeaway & Delivery</title>
</head>

<body>
    <div id="cart-app" class="wrapper">
        <header class="header">
            <div class="header-top">
                <div class="header-top__container">
                    <span class="light-text">We're open and available for takeaway & delivery.</span>
                    <a href="#">Order Now</a>
                </div>
            </div>
            <div class="header-nav">
                <div class="header-nav__container">
                    <a class="header-nav__logo logo" href="index.html">
                        <img src="img/icons/logo.svg" alt="Logo">
                    </a>
                    <button class="header-nav__menu-button button burger">
                        <span class="burger__item burger__item--1"></span>
                        <span class="burger__item burger__item--2"></span>
                        <span class="burger__item burger__item--3"></span>
                    </button>
                    <nav class="header-nav__nav toggling-menu">
                        <ul class="header-nav__list">
                            <li class="header-nav__link __active"><a href="#">Home</a></li>
                            <li class="header-nav__link"><a href="#">Order</a></li>
                            <li class="header-nav__link"><a href="#">Company</a></li>
                            <li class="header-nav__link"><a href="#">FAQ</a></li>
                            <li class="header-nav__link"><a href="#">Contact</a></li>
                        </ul>
                        <div class="header-nav__cart">
                            <div class="button button--cart">
                                <div class="icon-cart"></div>
                                <span class="button__circle button__circle--cart">0</span>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="cart">
                <div class="cart__container">
                    <div class="cart__button">
                        <button class="button button--cart">
                            <div class="icon-cart"></div>
                        </button>
                    </div>
                    <ul class="cart__list" v-if="cart.length === 0">
                        <p>Cart is empty</p>
                    </ul>
                    <ul class="cart__list">
                        <li class="cart-item" v-for="(prod, prodIndex) in cart">
                            <div class="cart-item__image">
                                <picture>
                                    <img :src="prod.img" :alt="prod.index">
                                </picture>
                            </div>
                            <div class="cart-item__info">
                                <div class="text-block">
                                    <div class="text-block__info-title">
                                        <div class="text-block__title--small">
                                            {{ prod.name }}
                                        </div>
                                        <div class="text-block__info colored-text">
                                            $ {{ prod.priceTotal }} USD
                                        </div>
                                    </div>
                                </div>
                                <div class="cart-item__controls">
                                    <div class="input-elem">
                                        <input type="text" data-only-number maxlength="1" :value="prod.amount">
                                    </div>
                                    <div class="button button--remove" @click="removeFromCart(prodIndex)"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main class="main">
            <section class="about-block delivery">
                <div class="about-block__container delivery__container">
                    <div class="about-block__text-block text-block">
                        <h2 class="text-block__title text-block__title--h2">
                            Beautiful food & takeaway, <span class="colored-text">delivered</span> to your door.
                        </h2>
                        <p class="text-block__text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500.
                        </p>
                        <div class="text-block__button">
                            <a href="#" class="button">
                                Place an Order
                            </a>
                        </div>
                        <div class="text-block__reviews-info reviews-info">
                            <p class="reviews-info__title">
                                <img src="img/icons/star.svg" alt="">
                                <span>Trustpilot</span>
                            </p>
                            <p class="reviews-info__info">
                                <span class="colored-text">4.8 out of 5</span> based on 2000+ reviews
                            </p>
                        </div>
                    </div>
                    <div class="about-block__image">
                        <img src="img/about-block/delivery.png" alt="">
                    </div>
                </div>
            </section>
            <section class="about-block fresh-products">
                <div class="about-block__container fresh-products__container">
                    <div class="about-block__text-block fresh-products__text-block text-block">
                        <h3 class="text-block__title text-block__title--h3 colored-text">
                            The home of fresh products
                        </h3>
                        <p class="text-block__text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500.
                        </p>
                        <div class="text-block__button">
                            <a href="#" class="button">
                                Learn about us
                            </a>
                        </div>
                    </div>
                    <div class="about-block__image">
                        <img src="img/about-block/fresh-products.png" alt="Fresh-products">
                    </div>
                </div>
            </section>
            <section class="guide-block">
                <div class="guide-block__container">
                    <h3 class="guide-block__title colored-text">
                        How it works.
                    </h3>
                    <ul class="guide-list">
                        <li class="guide-list__item guide-item">
                            <div class="guide-item__image">
                                <img src="img/how-it-works/adapt-menu.png" alt="Adapt your menu">
                            </div>
                            <div class="guide-item__info">
                                <h4 class="guide-item__title">
                                    Adapt your menu items
                                </h4>
                                <p class="guide-item__text">
                                    Easily adapt your menu using the webflow CMS and allow customers to browse your
                                    items.
                                </p>
                            </div>
                        </li>
                        <li class="guide-list__item guide-item">
                            <div class="guide-item__image">
                                <img src="img/how-it-works/online-orders.png" alt="Accept order & takeout">
                            </div>
                            <div class="guide-item__info">
                                <h4 class="guide-item__title">
                                    Accept online orders & takeout
                                </h4>
                                <p class="guide-item__text">
                                    Let your customers order and pay via the powerful ecommerce system, or simple let
                                    them call your store.
                                </p>
                            </div>
                        </li>
                        <li class="guide-list__item guide-item">
                            <div class="guide-item__image">
                                <img src="img/how-it-works/delivery-takeout.png" alt="Manage your delivery">
                            </div>
                            <div class="guide-item__info">
                                <h4 class="guide-item__title">
                                    Manage delivery or takeout
                                </h4>
                                <p class="guide-item__text">
                                    Manage your own logistics and take orders simply through the ecommerce system.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section id="toggler-example" class="menu-block">
                <div class="menu-block__container browsing">
                    <div class="menu-block__text-block text-block text-block--centered">
                        <h3 class="text-block__title colored-text">
                            Browse our menu
                        </h3>
                        <p class="text-block__text">
                            Use our menu to place an order online, or <a class="colored-text" href="tel: +612332333">phone</a> our store to place a pickup order. Fast and fresh food.
                        </p>
                    </div>
                    <div class="menu-block__buttons-list buttons-list">
                        <button class="buttons-list__item button __active" data-browsing-button="burgers">Burgers</button>
                        <button class="buttons-list__item button" data-browsing-button="sides">Sides</button>
                        <button class="buttons-list__item button" data-browsing-button="drinks">Drinks</button>
                    </div>
                    <div class="menu-block__menu browsing__wrapper">
                        <ul class="menu-block__menu-list menu-list browsing__elem" data-browsing-elem="burgers">
                            <li class="menu-list__item menu-item" v-for="(prod, indx) in products.burgers">
                                <div class="menu-item__image">
                                    <picture>
                                        <img :src="prod.img" alt="prod.name">
                                    </picture>
                                </div>
                                <div class="menu-item__info">
                                    <div class="text-block">
                                        <div class="text-block__info-title">
                                            <h4 class="text-block__title--small">{{ prod.name }}</h4>
                                            <div class="text-block__info colored-text">$ {{ prod.price }} USD</div>
                                        </div>
                                        <p class="text-block__text">
                                            {{ prod.descr }}
                                        </p>
                                    </div>
                                    <div class="menu-item__controls">
                                        <div class="input-elem">
                                            <input type="text" name="amount" data-only-number maxlength="1" value="1">
                                        </div>
                                        <button class="button" @click="addToCart(products.burgers[indx], 'burgers', $event)">
                                            Add to cart
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="menu-block__menu-list menu-list browsing__elem" data-browsing-elem="sides">
                            <li class="menu-list__item menu-item" v-for="(prod, indx) in products.sides">
                                <div class="menu-item__image">
                                    <picture>
                                        <img :src="prod.img" alt="prod.name">
                                    </picture>
                                </div>
                                <div class="menu-item__info">
                                    <div class="text-block">
                                        <div class="text-block__info-title">
                                            <h4 class="text-block__title--small">{{ prod.name }}</h4>
                                            <div class="text-block__info colored-text">$ {{ prod.price }} USD</div>
                                        </div>
                                        <p class="text-block__text">
                                            {{ prod.descr }}
                                        </p>
                                    </div>
                                    <div class="menu-item__controls">
                                        <div class="input-elem">
                                            <input type="text" name="amount" data-only-number maxlength="1" value="1">
                                        </div>
                                        <button class="button" @click="addToCart(products.sides[indx], 'sides', $event)">
                                            Add to cart
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="menu-block__menu-list menu-list browsing__elem" data-browsing-elem="drinks">
                            <li class="menu-list__item menu-item" v-for="(prod, indx) in products.drinks">
                                <div class="menu-item__image">
                                    <picture>
                                        <img :src="prod.img" alt="prod.name">
                                    </picture>
                                </div>
                                <div class="menu-item__info">
                                    <div class="text-block">
                                        <div class="text-block__info-title">
                                            <h4 class="text-block__title--small">{{ prod.name }}</h4>
                                            <div class="text-block__info colored-text">$ {{ prod.price }} USD</div>
                                        </div>
                                        <p class="text-block__text">
                                            {{ prod.descr }}
                                        </p>
                                    </div>
                                    <div class="menu-item__controls">
                                        <div class="input-elem">
                                            <input type="text" name="amount" data-only-number maxlength="1" value="1">
                                        </div>
                                        <button class="button" @click="addToCart(products.drinks[indx], 'drinks', $event)">
                                            Add to cart
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-block__button-more">
                        <a href="#" class="button">See Full Menu</a>
                    </div>
                </div>
            </section>
            <section class="about-block order-online">
                <div class="about-block__container order-online__container">
                    <div class="about-block__image order-online__image">
                        <img src="img/about-block/order-online.png" alt="Order online">
                    </div>
                    <div class="about-block__text-block text-block">
                        <h3 class="text-block__title text-block__title--h3 colored-text">
                            Order online with our simple checkout.
                        </h3>
                        <p class="text-block__text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500.
                        </p>
                        <div class="text-block__button">
                            <a href="#" class="button">
                                See our FAQ
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="about-block store">
                <div class="about-block__container store__container">
                    <div class="about-block__text-block text-block store__text-block">
                        <h3 class="text-block__title text-block__title--h3 colored-text">
                            Call our store and takeaway when it suits you best.
                        </h3>
                        <p class="text-block__text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500.
                        </p>
                        <div class="text-block__button">
                            <a href="tel: +612332333" class="button">
                                Ph. +61 233 2333
                            </a>
                        </div>
                    </div>
                    <div class="about-block__image">
                        <img src="img/about-block/store.png" alt="Our store">
                    </div>
                </div>
            </section>
            <section class="interaction support">
                <div class="interaction__container">
                    <div class="interaction__block interaction__image support__image">

                    </div>
                    <div class="interaction__block interaction__text">
                        <div class="interaction-text">
                            <h3 class="interaction-text__title">
                                <span class="interaction-text colored-text">Support</span> good food and local
                                businesses
                            </h3>
                            <div class="interaction-text__button">
                                <a href="#" class="button">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer__container">
                <div class="footer-main">
                    <div class="footer-main__info">
                        <div class="footer-main__logo logo">
                            <img src="img/icons/logo.svg" alt="Logo">
                        </div>
                        <div class="footer-main__about-block">
                            <p>Takeaway & Delivery template</p>
                            <p>for small - medium businesses.</p>
                        </div>
                    </div>
                    <nav class="footer-main__nav nav">
                        <div class="nav__col">
                            <h4 class="nav__title">Company</h4>
                            <ul class="nav__list">
                                <li class="nav__item"><a href="#">Home</a></li>
                                <li class="nav__item"><a href="#">Order</a></li>
                                <li class="nav__item"><a href="#">FAQ</a></li>
                                <li class="nav__item"><a href="#">Contact</a></li>
                            </ul>
                        </div>
                        <div class="nav__col">
                            <h4 class="nav__title">Template</h4>
                            <ul class="nav__list">
                                <li class="nav__item"><a href="#">Style Guide</a></li>
                                <li class="nav__item"><a href="#">Changelog</a></li>
                                <li class="nav__item"><a href="#">Licence</a></li>
                                <li class="nav__item"><a href="#">Webflow University</a></li>
                            </ul>
                        </div>
                        <div class="nav__col">
                            <h4 class="nav__title">Flowbase</h4>
                            <ul class="nav__list">
                                <li class="nav__item"><a href="#">More Cloneables</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="footer-contacts">
                    <div class="footer-contacts__rights">
                        <p>Built by <a href="#" class="colored-text">Flowbase</a></p>
                        <p>Powered by <a href="#" class="colored-text">Webflow</a></p>
                    </div>
                    <div class="footer-contacts__socials socials">
                        <a href="https://www.instagram.com/" class="socials__item">
                            <span class="icon-inst"></span>
                        </a>
                        <a href="https://twitter.com/" class="socials__item">
                            <span class="icon-twt"></span>
                        </a>
                        <a href="https://www.youtube.com/?gl=RU&hl=ru" class="socials__item">
                            <span class="icon-yt"></span>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://unpkg.com/vue@3.2.31/dist/vue.global.prod.js"></script>
    <script src="js/main.min.js"></script>
</body>

</html>