// sizes
$screenSize: 1155;
$screenSize_2: 1335;
$smallPaddings: 899px;

// colors
$bg: #3e3457;
$contrastBg: #3c3153;
$blueItem: #4ea4dc;
$blueItemHover: #015f9e;

@mixin adaptive-font($pcSize, $mobSize) {
    $adaptSize: $pcSize - $mobSize;
    $devAdaptSize: $adaptSize + $adaptSize * 0.7;
    @media (max-width: 767px) {
        font-size: calc(#{$mobSize}px + #{$devAdaptSize} * (100vw - 320px) / #{$screenSize});
    }
    @media (min-width: 768px) {
        font-size: calc(#{$mobSize}px + #{$adaptSize} * (100vw /#{$screenSize}));
    }
}
@mixin line-height($font-size, $line-height) {
    line-height: calc(#{$line-height} / #{$font-size} * 100%);
}
