@font-face {
    font-family: "a_HuxleyCaps";
    src: url("/job1/fonts/a_huxleycaps/AHuxleyCaps.eot");
    src: url("/job1/fonts/a_huxleycaps/AHuxleyCaps.eot?#iefix") format("embedded-opentype"),
        url("/job1/fonts/a_huxleycaps/AHuxleyCaps.woff2") format("woff2"),
        url("/job1/fonts/a_huxleycaps/AHuxleyCaps.woff") format("woff"),
        url("/job1/fonts/a_huxleycaps/AHuxleyCaps.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "a_HuxleyCaps";
    src: url("/job1/fonts/a_huxleycaps/AHuxleyCapsBold.eot");
    src: url("/job1/fonts/a_huxleycaps/AHuxleyCapsBold.eot?#iefix") format("embedded-opentype"),
        url("/job1/fonts/a_huxleycaps/AHuxleyCapsBold.woff2") format("woff2"),
        url("/job1/fonts/a_huxleycaps/AHuxleyCapsBold.woff") format("woff"),
        url("/job1/fonts/a_huxleycaps/AHuxleyCapsBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("/job1/fonts/raleway/Raleway-Regular.eot");
    src: url("/job1/fonts/raleway/Raleway-Regular.woff2") format("woff2"),
        url("/job1/fonts/raleway/Raleway-Regular.woff") format("woff"),
        url("/job1/fonts/raleway/Raleway-Regular.eot#iefix") format("embedded-opentype"),
        url("/job1/fonts/raleway/Raleway-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url("/job1/fonts/raleway/Raleway-Italic.eot");
    src: url("/job1/fonts/raleway/Raleway-Italic.woff2") format("woff2"),
        url("/job1/fonts/raleway/Raleway-Italic.woff") format("woff"),
        url("/job1/fonts/raleway/Raleway-Italic.eot#iefix") format("embedded-opentype"),
        url("/job1/fonts/raleway/Raleway-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Raleway";
    src: url("/job1/fonts/raleway/Raleway-Medium.eot");
    src: url("/job1/fonts/raleway/Raleway-Medium.woff2") format("woff2"),
        url("/job1/fonts/raleway/Raleway-Medium.woff") format("woff"),
        url("/job1/fonts/raleway/Raleway-Medium.eot#iefix") format("embedded-opentype"),
        url("/job1/fonts/raleway/Raleway-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url("/job1/fonts/raleway/Raleway-MediumItalic.eot");
    src: url("/job1/fonts/raleway/Raleway-MediumItalic.woff2") format("woff2"),
        url("/job1/fonts/raleway/Raleway-MediumItalic.woff") format("woff"),
        url("/job1/fonts/raleway/Raleway-MediumItalic.eot#iefix") format("embedded-opentype"),
        url("/job1/fonts/raleway/Raleway-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Raleway";
    src: url("/job1/fonts/raleway/Raleway-SemiBold.eot");
    src: url("/job1/fonts/raleway/Raleway-SemiBold.woff2") format("woff2"),
        url("/job1/fonts/raleway/Raleway-SemiBold.woff") format("woff"),
        url("/job1/fonts/raleway/Raleway-SemiBold.eot#iefix") format("embedded-opentype"),
        url("/job1/fonts/raleway/Raleway-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url("/job1/fonts/raleway/Raleway-SemiBoldItalic.eot");
    src: url("/job1/fonts/raleway/Raleway-SemiBoldItalic.woff2") format("woff2"),
        url("/job1/fonts/raleway/Raleway-SemiBoldItalic.woff") format("woff"),
        url("/job1/fonts/raleway/Raleway-SemiBoldItalic.eot#iefix") format("embedded-opentype"),
        url("/job1/fonts/raleway/Raleway-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Raleway";
    src: url("/job1/fonts/raleway/Raleway-Bold.eot");
    src: url("/job1/fonts/raleway/Raleway-Bold.woff2") format("woff2"),
        url("/job1/fonts/raleway/Raleway-Bold.woff") format("woff"),
        url("/job1/fonts/raleway/Raleway-Bold.eot#iefix") format("embedded-opentype"),
        url("/job1/fonts/raleway/Raleway-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url("/job1/fonts/raleway/Raleway-ExtraBold.eot");
    src: url("/job1/fonts/raleway/Raleway-ExtraBold.woff2") format("woff2"),
        url("/job1/fonts/raleway/Raleway-ExtraBold.woff") format("woff"),
        url("/job1/fonts/raleway/Raleway-ExtraBold.eot#iefix") format("embedded-opentype"),
        url("/job1/fonts/raleway/Raleway-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

/* статичные иконочные шрифты (важна неизменность свойства content) */
@font-face {
    font-family: "static-font-icon";
    src: url("/job1/fonts/font-icon/static-font-icon.eot?38m2wd");
    src: url("/job1/fonts/font-icon/static-font-icon.eot?38m2wd#iefix") format("embedded-opentype"),
        url("/job1/fonts/font-icon/static-font-icon.ttf?38m2wd") format("truetype"),
        url("/job1/fonts/font-icon/static-font-icon.woff?38m2wd") format("woff"),
        url("/job1/fonts/font-icon/static-font-icon.svg?38m2wd#font-icon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

[class^="static-ic-"]::before,
[class*="static-ic-"]::before,
.st-ic-container::before {
    font-family: "static-font-icon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.static-ic-star::before {
    content: "\e900";
}
.static-ic-star-empty::before {
    content: "\e901";
}

/* Остальной иконочный шрифт */
@font-face {
    font-family: "font-icon";
    src: url("/job1/fonts/font-icon/font-icon.eot?38m2wd");
    src: url("/job1/fonts/font-icon/font-icon.eot?38m2wd#iefix") format("embedded-opentype"),
        url("/job1/fonts/font-icon/font-icon.ttf?38m2wd") format("truetype"),
        url("/job1/fonts/font-icon/font-icon.woff?38m2wd") format("woff"),
        url("/job1/fonts/font-icon/font-icon.svg?38m2wd#font-icon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

[class^="icon-"]::before,
[class*="icon-"]::before {
    font-family: "font-icon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-back:before {
    content: "\e900";
}
.icon-arrow-circle:before {
    content: "\e901";
}
.icon-bell:before {
    content: "\e902";
}
.icon-bin:before {
    content: "\e903";
}
.icon-building-with-tree:before {
    content: "\e904";
}
.icon-calendar-empty:before {
    content: "\e905";
}
.icon-checkbox:before {
    content: "\e906";
}
.icon-chevron-down:before {
    content: "\e907";
}
.icon-clock:before {
    content: "\e908";
}
.icon-clock-arrow:before {
    content: "\e909";
}
.icon-close:before {
    content: "\e90a";
}
.icon-c-values-bus:before {
    content: "\e90b";
}
.icon-c-values-car:before {
    content: "\e90c";
}
.icon-c-values-cook-hat:before {
    content: "\e90d";
}
.icon-c-values-food:before {
    content: "\e90e";
}
.icon-c-values-healthcare:before {
    content: "\e90f";
}
.icon-c-values-heart:before {
    content: "\e910";
}
.icon-c-values-homeoffice:before {
    content: "\e911";
}
.icon-c-values-percent:before {
    content: "\e912";
}
.icon-c-values-schedule:before {
    content: "\e913";
}
.icon-c-values-study:before {
    content: "\e914";
}
.icon-c-values-up:before {
    content: "\e915";
}
.icon-dot:before {
    content: "\e916";
}
.icon-filter:before {
    content: "\e917";
}
.icon-heart:before {
    content: "\e918";
}
.icon-heart-full:before {
    content: "\e919";
}
.icon-link-share:before {
    content: "\e91a";
}
.icon-location:before {
    content: "\e91b";
}
.icon-lock:before {
    content: "\e91c";
}
.icon-man:before {
    content: "\e91d";
}
.icon-minus-circle:before {
    content: "\e91e";
}
.icon-pencil:before {
    content: "\e91f";
    color: #343d57;
}
.icon-plus:before {
    content: "\e920";
}
.icon-plus-circle:before {
    content: "\e921";
}
.icon-portfolio:before {
    content: "\e922";
}
.icon-printer:before {
    content: "\e923";
}
.icon-profile:before {
    content: "\e924";
}
.icon-quotes-end:before {
    content: "\e925";
}
.icon-search:before {
    content: "\e926";
}
.icon-share:before {
    content: "\e927";
}
.icon-star:before {
    content: "\e928";
}
.icon-star-full:before {
    content: "\e929";
}
.icon-woman:before {
    content: "\e92a";
}
.icon-aquarius:before {
    content: "\e92b";
}
.icon-aries:before {
    content: "\e92c";
}
.icon-cancer:before {
    content: "\e92d";
}
.icon-capricorn:before {
    content: "\e92e";
}
.icon-gemini:before {
    content: "\e92f";
}
.icon-leo:before {
    content: "\e930";
}
.icon-libra:before {
    content: "\e931";
}
.icon-pisces:before {
    content: "\e932";
}
.icon-sagittarius:before {
    content: "\e933";
}
.icon-scorpio:before {
    content: "\e934";
}
.icon-taurus:before {
    content: "\e935";
}
.icon-virgo:before {
    content: "\e936";
}
