/* Переменные */
:root {
    /* Цвета */
    --action_color_3: #377800;
    --action_color_2: #619f00;
    --action_color: #8bc72a;
    --uncomplete_border_color: #cd463a;
    --uncomplete_text_color: #a6201e;
    --error_box_color: #faeeed;
    --dim_color: #59667b;
    --input_border_color: #c9cdd4;
    --badge_color: #edeff1;
    --link_color: #142542;
    --notification_color: #0357cd;
    --notification_hover_color: #0246a4;
    --blog_border_color: #e3e6e9;
    --blog_bg_color: #435269;

    /* Размеры */
    --wrap_width: 1248px;

    font-size: 16px;
}