body{
    color: #333;
    font-family: "Open Sans", Tahoma, sans-serif;
}

.inner {
    padding: 30px 10px;
    max-width: 760px;
    margin: 0 auto;
    @media (max-width: 720px){
        padding: 30px 0;
    }
}
.intro {
    font-size: 13px;
    line-height: 21px;
    margin: 0 0 20px 0;
}

h2.title {
    font-size: 44px;
    line-height: 44px;
    font-weight: bold;
    margin: 0;
    letter-spacing: -1px;
    border-top: 4px solid #333;
    padding: 10px 0 0 0;
}
h3.title{
    font-size: 20px;
    line-height: 25px;
    font-weight: 100;
    margin: 10px 0 0 0;
    letter-spacing: -1px;
}
h4.title{
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.main {
    border-top: 1px solid #333;
    margin: 20px 0 0 0;
    padding: 30px 0 0 0;

    &__list{
        padding: 0 0 0 20px;
        margin: 0 0 30px 0;
    }
}
.footer {
    border-top: 1px solid #333;
    padding: 10px 0 0 0;
    margin: 20px 0 0 0;
    font-size: 13px;
    line-height: 1.5;
}
.link {
    text-decoration: underline;
    color: inherit;
    &:hover{
        text-decoration: none;
    }
    &:visited, &:focus{
        color: inherit;
    }
}

@media (max-width: 719px){
    .logo{
        display: none !important;
    }
    .intro{
        font-size: 16px;
    }
    h2.title{
        font-size: 30px;
    }

    ul, li, ol{
        font-size: 16px;
    }

    .footer {
        font-size: 16px;
    }

    h2.title{
        border-top: 0;
        padding-top: 0;
    }

    main.main{
        border-top: 0;
        padding-top: 0;
    }
}
