h1, h2, h3, h4, h5, h6{
    color: #000;
}

h2{
    font-weight: 700;
    font-size: 25px;
    line-height: normal;
}
h3{
    flex-wrap: normal;
    font-size: 22px;
    line-height: normal;
}
h4{
    font-weight: 700;
    font-size: 16px;
    padding: 0 0 5px 0;
    margin: 0;
}

p{
    margin: 0;
}

.bold {
    font-weight: 700;
}
.p-top {
    padding-top: 25px;
}
.p-bot {
    padding-bottom: 25px;
}
.desc {
    display: block;
}
.desc--bordered {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.desc-list {
    text-align: left;
    padding: 0 0 0 17px;
    margin: 0;

    &__item {
        line-height: normal;
        padding: 0;
        list-style-image: url("/job1/img/companies/nash-dom/icons/marker.gif");
    }
}
.button-container {
    text-align: center;
}
.button {
    color: #fff;
    background-color: #d20a11;
    border: 1px solid #d20a11;
    transition-property: color, background-color;
    transition-duration: .2s;
    padding: 15px 40px 15px 40px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    &:hover{
        color: #d20a11;
        background-color: #fff;
    }
}
.red-block {
    background-color: #d20a11;
    width: 230px;
    height: 20px;
    margin-top: -5px;
}
.headline {
    text-align: left;
}
.link[class*="link"]{
    color: inherit;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.inner {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000;
    text-align: left;
    max-width: 650px;
    background-color: #fff;
    border: 1px solid #000;
    margin: auto;
}
.header {
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.content {
    padding: 20px 25px 20px 25px;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    &--center{
        text-align: center;
        align-items: baseline;
    }
}
.item {
    width: 17%;
    padding: 0;
    text-align: center;

    &__image {
        padding: 10px 20px;
        width: 101px;
        height: 82px;
        box-sizing: border-box;
        object-fit: contain;
    }

    &__text {
        padding-top: 2px;
    }
}
.salary-block {
    position: relative;
    background-image: url("/job1/img/companies/nash-dom/icons/salary.png");
    background-position: center;
    min-height: 2em;

    &__item {
        position: absolute;
        top: 5px;
        font-weight: 700;
    }

    &__min {
        left: 14px;
    }

    &__max {
        right: 16px;
        color: #fff;
    }
}
.contact {
    justify-content: flex-start;
    align-items: center;

    &__person {
        flex-shrink: 0;
    }

    &__person-image {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }

    &__item {
        padding: 0 20px;
    }
}
.footer {
    padding: 30px 25px 30px 25px;
    background-color: #d20a11;
    display: flex;
    justify-content: space-between;
    color: #fff;

    &__item {
        &:nth-child(2){
            transform: translate(-20px, 0);
        }
    }
}

@media (max-width: 719px){

    .inner{
        border: 0;
        font-size: 16px;
        padding-bottom: 40px;
    }

    .content{
        padding: 0;
    }

    .red-block{
        display: none;
    }

    .header{
        &__image{
            display: none;
        }
    }
    
    .desc-list {
        &__item {
            list-style: disc;
        }
    }

    .flex-container{
        flex-wrap: wrap;
        padding: 0 0 0 15px;
    }

    .item{
        flex: 0 0 100%;
        text-align: left;

        &__image{
            display: none;
        }
    }
    .item--disc{
        list-style: disc;
    }

    .salary-block{
        background: none;

        &__item, &__max, &__min{
            position: relative;
            top: auto;
            left: auto;
            right: auto;
        }

        &__min{
            padding-bottom: 10px;
            margin-bottom: 10px;

            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 150px;
                height: 2px;
                background: #000;
            }
        }

        &__max{
            color: #000;
        }
    }

    .contact{
        &__person-image{
            display: none;
        }
    }

    .footer{
        margin-top: 20px;
        padding: 15px 12px;
    }
}