h1,
h2,
h3 {
    color: #e6282a;
    font-weight: 500;
}
h3{
    font-size: 20px;
}

.link[class*="link"] {
    color: #e6282a;
    font-weight: 500;
    &:hover{
        text-decoration: underline;
        color: #e6282a;
    }
}


.wrapper{
    background: #cce4ce;
    padding: 23px;
    max-width: 800px;
    margin: auto;
}
.inner {
    position: relative;
    color: #4e5352;
    border: 12px solid #e6282a;
    border-bottom: 0;
    padding: 23px;
    margin-bottom: 43px;
    font-size: 14px;
    background-image: url("/job1/img/companies/valdai/background.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 40%;

    &::after{
        content: url("/job1/img/companies/valdai/border.png ");
        position: absolute;
        bottom: -39px;
        left: -13px;
    }
}

.header {
    text-align: left;

    &__title {
        font-size: 50px;
        line-height: 1;
    }

    &__subtitle {
        font-size: 30px;
        font-weight: 500;
        color: #e6282a;
    }
}
.desc {
    padding: 15px 0 20px 0;
}
.b-top {
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}
.b-bot {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.flex-container {
    display: flex;
    justify-content: space-between;
    
    &__item {
        flex: 0 0 48%;
    }
}
.list {
    padding-left: 15px;

    &__item {
        list-style-image: url("/job1/img/companies/valdai/dot.svg");
    }
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    background: rgba(255, 255, 255, .6);
    padding: 15px;

    &__text {
        flex: 1 1 auto;
        margin: 0 20px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;    
    }

    &__text-item {
        text-align: center;
    }

    &__logo {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 719px){
    h1, h2, h3{
        color: #000;
    }


    .wrapper{
        background: none;
        padding: 0;
    }

    .inner{
        padding: 0;
        border: 0;
        border-bottom: 0;
        background: none;
        font-size: 16px;
        margin-bottom: 0;

        &::after{
            display: none;
        }
    }

    .b-top, .b-bot{
        border-color: #000;
    }

    .header{
        &__title{
            font-size: 40px;
        }

        &__subtitle{
            color: #000;
            font-size: 28px;    
        }
    }

    .flex-container{
        display: block;

        &__item{
            margin-bottom: 15px;
        }
    }

    .list{
        padding-left: 20px;

        &__item{
            list-style-type: disc;
            list-style-image: none;
        }
    }

    .footer{
        margin-top: 0;
        padding-top: 0;
        font-size: 16px;
    }
}